<div class="container">

    <div class="row">
        <div  class="col-md-11">
            <div class="well well-lg col-xs-offset-1">
                <!--Card image-->
                <div class="view overlay hm-white-slight">

                    <!--Form with header-->
                    <div class="well">
                        <div class="well-block">

                            <!--Header-->
                            <div class="form-header white-gradient">
                                <h3 align="center">Stock Entry Form</h3>
                            </div>

                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-building prefix"></i>
                                <input type="text" ng-model="order.manufacturer" id="form3" class="form-control" placeholder="Manufacturer">
                            </div>
                            <div class="md-form">
                                <i class="fa fa-laptop prefix"></i>
                                <input type="text" ng-model="order.category" id="form2" class="form-control" placeholder="Category">
                            </div>

                            <div class="md-form">
                                <i class="fa  fa-file-word-o prefix"></i>
                                <input type="text" ng-model="order.title" id="form4" class="form-control" placeholder="Title">
                            </div>

                            <div class="md-form">
                                <i class="fa  fa-wordpress prefix"></i>
                                <input type="text" ng-model="order.description" id="form4" class="form-control" placeholder="Description">
                            </div>

                            <div class="md-form">
                                <i class="fa  fa-file-image-o prefix"></i>
                                <input type="text" ng-model="order.image" id="form4" class="form-control" placeholder="Image Url">
                            </div>

                            <div class="md-form">
                                <i class="fa  fa-eur prefix"></i>
                                <input type="text" ng-model="order.cost"  id="form4" class="form-control" placeholder="Cost">
                            </div>

                            <div class="md-form">
                                <i class="fa   fa-calculator prefix"></i>
                                <input type="text" ng-model="order.quantity" min="1" max="20" id="form4" class="form-control" placeholder="Quantity">
                            </div>

                            <div class="text-center">
                                <button ng-click="stockUpdate()" class="btn btn-indigo">Add to stock</button>
                                <hr>
                                <fieldset class="form-group">
                                    <input type="checkbox" id="checkbox1">
                                    <label for="checkbox1">Request Callback from Sales Agent</label>
                                </fieldset>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




