<div class="container" style="padding:150px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">


                <div class="card" >

                    <div class="col-lg-12" >

                        <div class="well-block">

                            <!--Header-->
                            <div align="center" class="form-header  red darken-4">
                                <h3><i class="fa fa-lock"></i> Administrator Login:</h3>
                            </div>

                            <!--Body-->
                            <div class="md-form" >
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" ng-model="adminLogin.email" id="form2" class="form-control" placeholder = "Your Email">
                                <!--<label for="form2">Your email</label>-->
                            </div>

                            <div class="md-form">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" ng-model="adminLogin.password" id="form4" class="form-control" placeholder = "Master Password">
                                <!--<label for="form4">Your password</label>-->
                            </div>

                            <div class="text-center">
                                <button ng-click="adminLoginRun()" class="btn red darken-4">Access Site</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>