<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in purchases ">

            <td ng-hide="x.paid" data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                    <div class="col-sm-10">
                        <h4 class="nomargin">{{x.stockItem.title}}</h4>
                        <!--<p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>-->
                    </div>
                </div>
            </td>

            <td ng-hide="x.paid" data-th="Price">{{x.stockItem.price}}</td>

            <td ng-hide="x.paid" data-th="Quantity">
                <input type="number" class="form-control text-center" ng-model="QTY" value="1" min="1" max="{{x.stockItem.stockLevel}}">
            </td>

            <td ng-hide="x.paid" data-th="Subtotal" class="text-center">{{x.stockItem.price * QTY}}</td>

            <td ng-hide="x.paid" class="actions" data-th="">
                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                <button ng-click="remove(x)" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>

        </tr>
        </tbody>
        <tfoot>

        <tr ng-show="{{purchases.length>0}}">
            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total:  &euro; {{total.toFixed(2)}}</strong></td>
            <td><a  class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">Checkout></a></td>


        </tr>
        </tfoot>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Payment Confirmation</h4>
                </div>
                <!--Body-->

                <div class="modal-body">
                    <b>CUSTOMER NAME: </b> {{currentUser.firstName}} {{currentUser.lastName}}
                </div>
                <hr>
                <div class="modal-body">
                    <b>SHIPPING ADDRESS</b> {{currentUser.shippingAddress}}
                </div>
                <hr>

                <div class="modal-body">
                    <b>PAYMENT METHOD: {{currentUser.paymentMethod}} </b>
                </div>

                <hr>


                <div class="modal-body">
                    <b>Subtotal: &euro;{{total}} </b>
                </div>
                <hr>
                <div ng-show="$root.userLoggedOn" class="modal-body">
                    <b>Discount: &euro;{{discountView}} </b>
                </div>

                <hr>
                <div ng-show="$root.userLoggedOn" class="modal-body">
                    <b>Total Payable: &euro;{{total - disc}} </b>
                </div>


                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="pay()">Confirm Payment</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- /.Live preview-->
</div>

