

<main>

    <!--Main layout-->
    <div class="container">
        <!--First row-->
        <div class="row">
            <div class="col-md-7">
                <!--Featured image -->
                <div class="view overlay hm-white-light z-depth-1-half">
                    <img src="https://s18.postimg.org/5xvfsg5cp/store.jpg" class="img-fluid " alt="">
                    <div class="mask">
                    </div>
                </div>
                <br>
            </div>

            <!--Main information-->
            <div class="col-md-5">
                <h2 class="h2-responsive">Best Online Shop EVERRR!!!</h2>
                <hr>
                <p>Come to our site ,have a look around, see something that catches your eye? Read the review and make the decision to buy. All out products are garunteed for one year and our expert staff are always willing to give you advice. </p>
                <a hre class="btn default-color">THE HOME OF BETTER VALUE!!</a>
            </div>
        </div>
        <!--/.First row-->
        <hr class="extra-margins"/>
        <!--Second row-->
        <div class="row">
            <!--First columnn-->
            <div class="col-md-4">
                <!--Card-->
                <div class="well">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://s14.postimg.org/hv0h9i3wx/laptop_154091_640.png" style="height:120px " style="width:120px" class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="well-block">
                        <!--Title-->
                        <h4 class="well-title">Laptops</h4>
                        <!--Text-->
                        <p class="well-text">Excellent range of laptops.</p>
                        <a ng-href="#/laptopCategory" class="btn default-color">View Laptops</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--First columnn-->

            <!--Second columnn-->
            <div class="col-md-4">
                <!--Card-->
                <div class="well">


                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://s30.postimg.org/6f6f6vxip/ipad_147691_640.png" style="height:120px " style="width:120px"  img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="well-block">
                        <!--Title-->
                        <h4 class="well-title">Mobiles</h4>
                        <!--Text-->
                        <p class="well-text">Wide range of mobile phones</p>
                        <a ng-href="#/phoneCategory" class="btn default-color">See what we have to offer</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--Second columnn-->

            <!--Third columnn-->
            <div class="col-md-4">
                <!--Card-->
                <div class="well">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://s22.postimg.org/6ryv82xs1/smartphone_153650_640.png" style="height:120px " style="width:120px" height="40"class="img-fluid" alt="">
                        <a href="#">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="well-block">
                        <!--Title-->
                        <h4 class="well-title">Tablets</h4>
                        <!--Text-->
                        <p class="well-text">Overdose on our tablets</p>
                        <a ng-href="#/tabletCategory" class="btn default-color">Our range</a>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--Third columnn-->
        </div>
        <!--/.Second row-->
    </div>
    <!--/.Main layout-->

</main>



<!-- SCRIPTS -->

<!--&lt;!&ndash; JQuery &ndash;&gt;-->
<!--<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>-->

<!--&lt;!&ndash; Bootstrap tooltips &ndash;&gt;-->
<!--<script type="text/javascript" src="js/tether.min.js"></script>-->

<!--&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->

<!--&lt;!&ndash; MDB core JavaScript &ndash;&gt;-->
<!--<script type="text/javascript" src="js/mdb.min.js"></script>-->

