<div class="container">
    <!--First row-->
    <div class="row">

        <div class="col-md-7">
            <!--Featured image -->
            <div class="view overlay hm-white-light z-depth-1-half">
                <img src="{{thisItem.imageUrl}}" class="img-fluid " alt="">
                <div class="mask">
                </div>
            </div>
            <br>
        </div>

        <!--Main information-->
        <div class="col-md-5">
            <h2 class="h2-responsive">{{thisItem.title}}</h2>
            <hr>
            <p>{{thisItem.description}}</p>
           <h1><b>{{thisItem.price}}</b></h1>
            <a ng-show="$root.userLoggedOn" href="" ng-click="basketAdd(thisItem.id);" class="btn default-color">Add To Cart</a>

            <div layout="column">
                <hr>

                <!--<h3>Basic</h3>-->
                <jk-rating-stars rating="thisItem.rating" read-only="readOnly"></jk-rating-stars>
                <div style="width: 100px">{{thisItem.rating}} Stars</div>

                <div ng-show="$root.userLoggedOn">
                    <a href="" class="btn btn-info btn-cons" data-toggle="modal" data-target="#myModal">Leave a review</a>
                </div>


                <!--<h3>Read only</h3>-->
                <!--<jk-rating-stars rating="secondRate" read-only="readOnly" ></jk-rating-stars>-->
                <!--<div style="width: 100px">{{secondRate}} Stars</div>-->


                <!--<h3>With cusomt style</h3>-->
                <!--<jk-rating-stars-->
                        <!--class="my-custom-stars"-->
                        <!--rating="secondRate" >-->
                <!--</jk-rating-stars>-->
            </div>

        </div>
    </div>

    <div ng-repeat = "x in thisItemReviews" class="row">

        <div class="col-md-7">
            <!--Featured image -->
            <div class="view overlay hm-white-light z-depth-1-half">
                <!--<img src="{{thisItem.imageUrl}}" class="img-fluid " alt="">-->
                <p>{{x.review}}</p>
                <p>{{x.customer.firstName}}</p>
                <p> <jk-rating-stars rating="x.stars" read-only="readOnly"></jk-rating-stars>
                    </p>
                <div class="mask">
                </div>
            </div>
            <br>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Share your thoughts....</h4>
                </div>
                <!--Body-->

                <div class="modal-body">
                    <textarea class="form-control animated" ng-model = "userReview" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
                </div>
                <hr>
                <div class="modal-body">
                    <jk-rating-stars  rating="firstRateByUser"></jk-rating-stars>
                <hr>

                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="submitReview()" data-dismiss="modal">Submit Review</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- /.Live preview-->
</div>