
<hr>

<div class="container">
    <div class="row">
        <div ng-repeat="x in orderTypes" class="col-md-4">
            <div class="well">

                <a ng-href="#/laptopCategory" ng-click="sendOrderByParam(x);" class="btn btn-yellow">Order By {{x}}</a>

                <!--<div class="view overlay hm-white-slight">-->
                    <!--<img src="{{x.imageUrl}}" style="height:120px " style="width:120px" class="img-fluid" alt="">-->
                    <!--<a href="#">-->
                        <!--<div class="mask"></div>-->
                    <!--</a>-->
                <!--</div>-->

                <!--<div class="well-block">-->
                    <!--&lt;!&ndash;Title&ndash;&gt;-->
                    <!--<h4 class="well-title">{{x.title}}</h4>-->
                    <!--&lt;!&ndash;Text&ndash;&gt;-->
                    <!--<p class="well-text">{{x.price}}</p>-->
                    <!--<a ng-href="#/laptopCategory" ng-click="basketAdd(x.id);" class="btn default-color">Add  to cart</a>-->
                    <!--&lt;!&ndash;<a ng-href="#/laptopCategory" class="btn btn-info ">Info</a>&ndash;&gt;-->
                    <!--<a ng-click="fullDescription(x.id)">Info</a>-->
                    <!--<hr>-->
                    <!--<jk-rating-stars rating="x.rating" read-only="true" ></jk-rating-stars>-->

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="x in allLaptops" class="col-md-4">

            <div ng-hide = "x.offSale">


            <div class="well">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="{{x.imageUrl}}" style="height:120px " style="width:120px" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>

                <div class="well-block">
                    <!--Title-->
                    <h4 class="well-title">{{x.title}}</h4>
                    <!--Text-->
                    <p class="well-text">{{x.price}}</p>
                    <a ng-show="$root.userLoggedOn" ng-href="#/laptopCategory" ng-click="basketAdd(x);" class="btn default-color" >Add  to cart</a>
                    <!--<a ng-href="#/laptopCategory" class="btn btn-info ">Info</a>-->
                    <a ng-click="fullDescription(x.id)">Info</a>
                    <hr>
                    <jk-rating-stars rating="x.rating" read-only="true" ></jk-rating-stars>

                </div>
            </div>

            </div>
        </div>
    </div>

</div>

<div  style="height:500px;width:500px;" align = "center">
<canvas id="doughnut" class="chart chart-line"
        chart-data="data" chart-labels="labels">
</canvas>
</div>