<div class="container">

    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th class="col-sm-1" style="width:10%">ID no.</th>
            <th class="col-sm-3" style="width:20%">ITEM</th>
            <th class="col-sm-3" style="width:8%">ADDED TO BASKET</th>
            <th class="col-sm-2" style="width:22%">PAYMENT RECIEVED</th>
            <th class="col-sm-2" style="width:10%">Discount</th>
            <th class="col-sm-2" style="width:10%">Price Paid</th>
        </tr>
        </thead>
        <tbody>


        <tr ng-repeat="x in customerPurchases ">

            <td class="col-sm-1" >
                <h4>{{x.id}}</h4>
            </td>

            <td class="col-sm-3" >
                <h4 >{{x.stockItem.title}}</h4>
            </td>

            <td class="col-sm-3" >
                <h4 >{{x.purchaseTime | date:'yyyy-MM-dd HH:mm'}}</h4>
            </td>

            <td class="col-sm-2" >
                <h4 >{{x.paymentTime | date:'yyyy-MM-dd HH:mm'}}</h4>
            </td>

            <td class="col-sm-2" >
                <h4 >{{x.discount}}</h4>
            </td>

            <td class="col-sm-2" >
                <h4 >€{{x.pricePaid}}</h4>
            </td>

        </tr>


        </tbody>
    </table>
</div>