
<hr>

<div class="container">
    <div class="row">
        <div ng-repeat="x in allTablets" class="col-md-4">

            <div ng-hide = "x.offSale">

            <div class="well">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="{{x.imageUrl}}" style="height:120px " style="width:120px" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>

                <div class="well-block">
                    <!--Title-->
                    <h4 class="well-title">{{x.title}}</h4>
                    <!--Text-->

                    <p class="well-text">{{x.price}}</p>
                    <a ng-show="$root.userLoggedOn" ng-href="#/tabletCategory" ng-click="basketAdd(x);" class="btn default-color">Add  to cart</a>
                    <!--<a ng-href="#/itemDescription" class="btn btn-info ">Info</a>-->
                    <a ng-click="fullDescription(x.id)">Info</a>
                    <hr>
                    <jk-rating-stars rating="x.rating" read-only="true" ></jk-rating-stars>
                </div>
            </div>

            </div>

        </div>
    </div>
</div>