<div class="container">

    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th class="col-sm-1" style="width:10%">ID no.</th>
            <th class="col-sm-3" style="width:20%">NAME</th>
            <th class="col-sm-3" style="width:8%">EMAIL</th>
            <th class="col-sm-2" style="width:22%">PAYMENT METHOD</th>
            <th class="col-sm-2" style="width:10%">SUBSCRIBER</th>
        </tr>
        </thead>
        <tbody>


        <tr ng-repeat="x in allCustomers ">

            <td class="col-sm-1" >
                <h4>{{x.id}}</h4>
            </td>

            <td class="col-sm-3" >
                <h4 >{{x.firstName}} {{x.lastName}}</h4>
            </td>

            <td class="col-sm-3" >
                <h4 >{{x.email}}</h4>
            </td>

            <td class="col-sm-2" >
                <h4 >{{x.paymentMethod}}</h4>
            </td>

            <td class="col-sm-2" >
                <h4 >{{x.subscribed == true ? "Yes" : "No"}}</h4>
            </td>

            <td class="actions">
                <button class="btn btn-info btn-sm" ng-click="purchaseHistory(x)">Purchase History</button>
            </td>

            <td class="actions">
                <button ng-click="remove(x)" class="btn btn-danger btn-sm">Delete Customer</button>
            </td>

        </tr>


        </tbody>
    </table>
</div>