<div class="container">

    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th class="col-sm-1" style="width:10%">ID no.</th>
            <th class="col-sm-3" style="width:20%">Title</th>
            <th class="col-sm-3" style="width:8%">Category</th>
            <th class="col-sm-2" style="width:22%">Manufacturer METHOD</th>
            <th class="col-sm-2" style="width:10%">COST PRICE</th>
            <th class="col-sm-2" style="width:10%">RRP</th>
            <th class="col-sm-1" style="width:10%">Markup</th>
            <th class="col-sm-1" style="width:10%">STOCK</th>
        </tr>
        </thead>
        <tbody>


        <tr ng-repeat="x in allItems ">

            <td class="col-sm-1" >
                <h4>{{x.id}}</h4>
            </td>

            <td class="col-sm-3" >
                <h4 >{{x.title}}</h4>
            </td>

            <td class="col-sm-3" >
                <h4 >{{x.category}}</h4>
            </td>

            <td class="col-sm-2" >
                <h4 >{{x.manufacturer}}</h4>
            </td>

            <td class="col-sm-2" >
                <h4 >{{(x.price*.48).toFixed(2)}}</h4>
            </td>

            <td class="col-sm-2" >
                <h4 >{{x.price}}</h4>
            </td>

            <td class="col-sm-1" >
                <h4 >{{(x.price*.52).toFixed(2)}}</h4>

            </td>
            <td class="col-sm-1" >
                <h4 >{{x.stockLevel}}</h4>

            </td>

            <td class="actions">
                <button class="btn btn-info btn-lg" ng-click="updateStockDatabase(x,updatedQTY)"><b>Update Stock</b></button>
                <input type="number" class="form-control text-center" ng-model="updatedQTY" value="1" min="{{x.stockLevel * -1}}" max="1000">

            </td>

            <td class="actions">
                <button ng-click="delete(x)" class="btn btn-danger btn-lg"><b>Take off Sale</b></button>
            </td>
        </tr>


        </tbody>
    </table>
</div>




