<nav class="navbar navbar-light bg-faded">

    <a class="navbar-brand" ng-href="#">E-Lectricz</a>
    <ul class="nav navbar-nav">

        <li class="nav-item active">
            <a class="nav-link" ng-href="#">Home</a>
        </li>

        <li ng-hide="$root.adminLoggedOn || $root.userLoggedOn" class="nav-item">
            <a class="nav-link" ng-href="#/logreg">Access Site</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" ng-href="#/laptopCategory">Laptops</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" ng-href="#/tabletCategory">Tablets</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" ng-href="#/phoneCategory">Mobile</a>
        </li>



        <li ng-show='$root.adminLoggedOn' class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Site Settings<span class="caret"></span></a>
            <ul class="dropdown-menu">

                <li><a ng-href="#/addNewItem">Add New Stock Item</a></li>

                <li><a ng-href="#/viewItems">View Stock Items</a></li>

                <li><a ng-href="#/viewCustomers">View Customers</a></li>

                <li role="separator" class="divider"></li>
                <li><a href="#">Sign Out</a></li>
            </ul>
        </li>

    </ul>

    <!--<form class="form-inline pull-xs-right navbar-right">-->
        <!--<input class="form-control" type="text" placeholder="Search">-->
        <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
    <!--</form>-->

    <ul class="nav navbar-nav navbar-right">
        <li>

        </li>
        <li class="nav-item " ng-show='$root.adminLoggedOn || $root.userLoggedOn' >
            <a ng-show="$root.userLoggedOn" class="nav-link" ng-href="#">{{currentUser.firstName}} Signed In</a>
            <a ng-show="$root.adminLoggedOn" class="nav-link" ng-href="#">{{$root.adminName}} Signed In</a>
        </li>
        <li>
            <a ng-show="$root.userLoggedOn" class="nav-link" ng-click="logOutUser()">Log Out</a>
            <a ng-show="$root.adminLoggedOn" class="nav-link" ng-click="logOutAdmin()">Log Out</a>

        </li>
    </ul>

    <ul ng-show="$root.userLoggedOn" class="nav navbar-nav navbar-right">
        <li ng-click="moveToCheckoutArea()" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> {{$root.pp}} - Items<span class="caret"></span></a>
            <!--<ul class="dropdown-menu dropdown-cart" role="menu">-->
                <!--<li >-->
                  <!--<span class="item">-->
                      <!--<table style="width:400px" class="table">-->
                          <!--<tr ng-repeat="x in purchases ">-->
                              <!--<td ng-if="!x.paid">{{ x.stockItem.title }}</td>-->
                              <!--<td ng-if="!x.paid">{{ x.stockItem.price }}</td>-->
                              <!--<td ng-if="!x.paid"><button ng-click=purchase(x) class="btn btn-xs btn-success pull-right">Checkout</button></td>-->
                              <!--<td ng-if="!x.paid"><button ng-click = "remove(x)" class="btn btn-xs btn-danger pull-right">Remove</button></td>-->
                         <!--</tr>-->
                          <!--<tr>-->
                              <!--<td width="70%"><b>Subtotal</b></td>-->
                              <!--<td width="30%">({{purchases.length}} items):</td>-->
                              <!--<td>&euro;{{total}}</td>-->
                          <!--</tr>-->
                      <!--</table>-->
                    <!--&lt;!&ndash;<span class="item-left">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<img src="{{x.stockItem.image}}" alt="" />&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="item-info">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span>{{x.stockItem.title}}</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<span>{{x.stockItem.price}}</span>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</span>&ndash;&gt;-->
                          <!--&lt;!&ndash;<span class="item-info">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span>{{x.stockItem.price}}</span>&ndash;&gt;-->
                              <!--&lt;!&ndash;&lt;!&ndash;<span>{{x.stockItem.price}}</span>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</span>&ndash;&gt;-->
                          <!--&lt;!&ndash;<span class="item-right">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button class="btn btn-xs btn-danger pull-right">x</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                    <!--</span>-->

                <!--</span>-->
                <!--</li>-->

                <!--<li class="divider"></li>-->
                <!--<li><button align = "center" ng-click="beginCheckout()" class="btn btn-xl btn-success center-block">Proceed to checkout all items</button></li>-->
            <!--</ul>-->
        </li>
    </ul>

</nav>



